*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

html,
body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(24, 4, 65, 0.61);
}

/* .bell{
    animation: bell 1.5s ease-in-out infinite both;
    transform-origin: top;
}

@keyframes bell {
    /* 0%{
        transform: rotate(20deg);
    }
    25%{
        transform: rotate(-20deg);
    }
    50%{
        transform: rotate(-20deg);
    }
    100%{
        transform: rotate(20deg);
    }
}    
     */
 


.bell{
    animation: bell 1s ease-in-out infinite alternate-reverse;
    transform-origin: top;
    position: relative;
}

@keyframes bell {
    0%{
        transform: rotate(20deg);
    }
    100%{
        transform: rotate(-20deg);
    }
}

.bell::after{
    content: attr(digit-count);
    width: 3vmax;
    height: 3vmax;
    top: 10%;
    left: 60%;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 700 1vmax "montesarrat";
}